.modal-body figure {
  cursor: pointer;
  width: 10em;
  height: 10em;

  img {
    height: 100%;
    width: auto;
    display: flex;
  }

  //&:hover img {
  //  height: 100%;
  //  animation: ease-in-out;
  //}
  //
  //&.selected {
  //  img {
  //    height: 100%;
  //  }
  //
  //}
}

nav button img {
  height: 50px;
}
