<div class="container-fluid mt-5">
  <div class="d-flex justify-content-around">
    <div class="p-3 shadow p-3 mb-5 bg-white rounded" *ngFor="let service of getServices()">
      <figure class="figure" (click)="get(service)">
        <img src="/assets/{{service.icon}}" class="figure-img">
        <figcaption class="figure-caption text-left">{{service.name}}</figcaption>
        <button (click)="get(service)">GET</button>
        <button (click)="post(service)">POST</button>
      </figure>
    </div>
  </div>
</div>
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" [dismissible]="true" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
