<div class="container-fluid mt-5">
  <div class="d-flex justify-content-around">
    <div class="p-3 shadow p-3 mb-5 bg-white rounded">
      <figure class="figure">
        <img src="/assets/mushroom_red.svg" class="figure-img">
        <figcaption class="figure-caption text-left">Mushrooms</figcaption>
        <button (click)="postMushroom('green')">Add Green</button>
        <button (click)="postMushroom('red')"> Add Red</button>
      </figure>
    </div>
    <div class="p-3 shadow p-3 mb-5 bg-white rounded">
      <figure class="figure">
        <img src="/assets/library.svg" class="figure-img">
        <figcaption class="figure-caption text-left">Books</figcaption>
        <button (click)="getBooks()">Get</button>
      </figure>
    </div>
  </div>
</div>
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" [dismissible]="true" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
